
@{
    ViewBag.Title = "Broadcast";
}

<h2>Broadcast</h2>
<p>
    <input type="text" class="form-control" placeholder="Name" id="name" />
</p>
<p>
    <input type="text" class="form-control" placeholder="Message" id="message" />
</p>
<p>
    <input type="button" class="btn btn-default" id="sendmessage" value="向大家問好" />
</p>
<p>
    <ul id="messages"></ul>
</p>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            // With the generated proxy
            // Create Hub Proxy
            var broadcastHub = $.connection.broadcastHub;

            // 註冊給伺服端呼叫的方法
            broadcastHub.client.showmessage = function (name, message) {
                $('#messages').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            // 連線到 SignalR 伺服器
            $.connection.hub.start()
                .done(function () {
                    // 註冊連線成功後要執行的作業
                    $('#sendmessage').click(function () {
                        broadcastHub.server.broadcast($('#name').val(), $('#message').val());
                    });
                });

            // Without the generated proxy
            //// Create Hub Proxy
            //var connection = $.hubConnection();
            //var broadcastHub = connection.createHubProxy('broadcastHub');

            //// 註冊給伺服端呼叫的方法
            //broadcastHub.on('showmessage', function (name, message) {
            //    $('#messages').append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            //});

            //// 連線到 SignalR 伺服器
            //connection.start()
            //    .done(function () {
            //        // 註冊連線成功後要執行的作業
            //        $('#sendmessage').click(function () {
            //            broadcastHub.invoke('broadcast', $('#name').val(), $('#message').val());
            //        });
            //    });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}